.main{
    border: #ccc 0.06rem;
    border-style: solid;
    position: fixed;
    height: 25rem;
    width: 50rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input{
    height: 6.3rem;
    width: 50rem;
    padding: 0;
    border-style: none;
}

input[type="text"], textarea, select { 
  outline: none;
}

hr{
  color: #ccc;
  height: 0.06 rem;
  margin: 0px;
  padding: 0px;
}

.boxes{
    position: relative;
    border:0.06rem #ccc ;
    border-style: solid;
    height: 3rem;
    width: 6rem;
}
.first-box{
  border-top: white;
}

.last-box{
  border-bottom: white;
}

#toggle-box{
  display: inline-block;
  position: relative;
  margin-top: 1rem;
  height: 1.9rem;
  width: 0;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
}

.scientific-text{
    display: inline-block;
    font-size: 1rem;
    color: #7b5af9;
    width: 5rem;
    height: 5rem;
    font-family: 'Concert One', cursive;
    transform: translate(30%, 10%);
}

@media screen and (max-width: 600px) {
  .scientific-text{
    display: inline-block;
    font-size: 1rem;
    color: #7b5af9;
    width: 5rem;
    height: 5rem;
    font-family: 'Concert One', cursive;
    transform: translate(-40%, 10%);
  }
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    transform: translate(50%, 50%);
  }

@media screen and (max-width: 600px) {
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    transform: translate(-50%, 50%);
  }
}
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #7b5af9;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #7b5af9;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }